<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2017 Nike, Inc.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nike.cerberus.mapper.SecureDataMapper">

    <cache type="com.nike.cerberus.cache.DatabaseCache"/>

    <insert id="writeSecureData" parameterType="SecureDataRecord">
        INSERT INTO SECURE_DATA (
          ID,
          SDBOX_ID,
          PATH,
          ENCRYPTED_BLOB,
          TOP_LEVEL_KV_COUNT,
          `TYPE`,
          SIZE_IN_BYTES,
          CREATED_BY,
          CREATED_TS,
          LAST_UPDATED_BY,
          LAST_UPDATED_TS,
          LAST_ROTATED_TS
        )
        VALUES (
          #{record.id},
          #{record.sdboxId},
          #{record.path},
          #{record.encryptedBlob},
          #{record.topLevelKVCount},
          #{record.type},
          #{record.sizeInBytes},
          #{record.createdBy},
          #{record.createdTs},
          #{record.lastUpdatedBy},
          #{record.lastUpdatedTs},
          #{record.lastRotatedTs}
        )
    </insert>

    <update id="updateSecureData" parameterType="SecureDataRecord">
        UPDATE
          SECURE_DATA
        SET
          ENCRYPTED_BLOB = #{record.encryptedBlob},
          TOP_LEVEL_KV_COUNT = #{record.topLevelKVCount},
          SIZE_IN_BYTES = #{record.sizeInBytes},
          LAST_UPDATED_BY = #{record.lastUpdatedBy},
          LAST_UPDATED_TS = #{record.lastUpdatedTs},
          LAST_ROTATED_TS = #{record.lastRotatedTs}
        WHERE
          ID = #{record.id}
    </update>

    <select id="readSecureDataByPath" resultType="SecureDataRecord">
        SELECT
          ID,
          SDBOX_ID,
          PATH,
          ENCRYPTED_BLOB,
          `TYPE`,
          SIZE_IN_BYTES,
          CREATED_BY,
          CREATED_TS,
          LAST_UPDATED_BY,
          LAST_UPDATED_TS,
          LAST_ROTATED_TS
        From
          SECURE_DATA
        WHERE
          PATH = #{path}
            AND
          SDBOX_ID = #{sdbId} for UPDATE
    </select>

    <select id="readSecureDataByIdLocking" resultType="SecureDataRecord">
        SELECT
        ID,
        SDBOX_ID,
        PATH,
        ENCRYPTED_BLOB,
        `TYPE`,
        SIZE_IN_BYTES,
        CREATED_BY,
        CREATED_TS,
        LAST_UPDATED_BY,
        LAST_UPDATED_TS,
        LAST_ROTATED_TS
        From
        SECURE_DATA
        WHERE
        ID = #{id}
        FOR UPDATE
    </select>

    <select id="readSecureDataByPathAndType" resultType="SecureDataRecord">
        SELECT
          ID,
          SDBOX_ID,
          PATH,
          ENCRYPTED_BLOB,
          `TYPE`,
          SIZE_IN_BYTES,
          CREATED_BY,
          CREATED_TS,
          LAST_UPDATED_BY,
          LAST_UPDATED_TS,
          LAST_ROTATED_TS
        From
          SECURE_DATA
        WHERE
          PATH = #{path}
            AND
          `TYPE` = #{type}
            AND
          SDBOX_ID = #{sdbId}
    </select>

    <select id="getOldestDataKeyInfo" resultType="DataKeyInfo">
        SELECT
          *
        FROM
        (SELECT
          ID,
          GREATEST(LAST_UPDATED_TS, LAST_ROTATED_TS) AS LAST_ROTATED_TS,
          'SECURE_DATA' AS SOURCE
        From
          SECURE_DATA
        UNION ALL
        SELECT
          ID,
          GREATEST(VERSION_CREATED_TS, LAST_ROTATED_TS) AS LAST_ROTATED_TS,
          'SECURE_DATA_VERSION' AS SOURCE
        FROM
          SECURE_DATA_VERSION
        ) AS DATA_KEY_INFO
        WHERE LAST_ROTATED_TS &lt; #{datetime}
        ORDER by LAST_ROTATED_TS ASC
        LIMIT #{limit}
    </select>

    <select id="readMetadataByPathAndType" resultType="SecureDataRecord">
        SELECT
          ID,
          SDBOX_ID,
          PATH,
          `TYPE`,
          SIZE_IN_BYTES,
          CREATED_BY,
          CREATED_TS,
          LAST_UPDATED_BY,
          LAST_UPDATED_TS,
          LAST_ROTATED_TS
        From
          SECURE_DATA
        WHERE
          PATH = #{path}
            AND
          `TYPE` = #{type}
            AND
          SDBOX_ID = #{sdbId}
    </select>

    <select id="getPathsByPartialPath" resultType="String">
        SELECT PATH From SECURE_DATA WHERE PATH LIKE '${partialPath}%' AND SDBOX_ID = #{sdbId};
    </select>

    <select id="getPathsByPartialPathAndType" resultType="String">
        SELECT
          PATH
        FROM
          SECURE_DATA
        WHERE
          PATH LIKE '${partialPath}%'
            AND
          `TYPE` = #{type}
            AND
          SDBOX_ID = #{sdbId}
    </select>

    <select id="listSecureDataByPartialPathAndType" resultType="SecureDataRecord">
        SELECT
          ID,
          SDBOX_ID,
          PATH,
          ENCRYPTED_BLOB,
          `TYPE`,
          SIZE_IN_BYTES,
          CREATED_BY,
          CREATED_TS,
          LAST_UPDATED_BY,
          LAST_UPDATED_TS,
          LAST_ROTATED_TS
        FROM
          SECURE_DATA
        WHERE
          PATH LIKE '${partialPath}%'
            AND
          `TYPE` = #{type}
            AND
          SDBOX_ID = #{sdbId}
        ORDER BY CREATED_TS DESC
        LIMIT #{limit}
        OFFSET #{offset}
    </select>

    <select id="countByPartialPathAndType" resultType="java.lang.Integer">
        SELECT
          COUNT(ID)
        FROM
          SECURE_DATA
        WHERE
          PATH LIKE '${partialPath}%'
            AND
          `TYPE` = #{type}
    </select>

    <select id="countByType" resultType="java.lang.Integer">
        SELECT
          COUNT(ID)
        FROM
          SECURE_DATA
        WHERE
          `TYPE` = #{type}
    </select>

    <select id="getPathsBySdbId" resultType="String">
        SELECT DISTINCT PATH From SECURE_DATA WHERE SDBOX_ID = #{sdbId};
    </select>

    <select id="getTotalNumberOfDataNodes" resultType="java.lang.Integer">
        SELECT COUNT(ID) FROM SECURE_DATA
    </select>

    <select id="getSumTopLevelKeyValuePairs" resultType="java.lang.Integer">
        SELECT SUM(TOP_LEVEL_KV_COUNT) FROM SECURE_DATA
    </select>

    <delete id="deleteAllSecretsThatStartWithGivenPartialPath">
        DELETE FROM SECURE_DATA WHERE PATH LIKE '${partialPath}%' AND SDBOX_ID = #{sdbId};
    </delete>

    <delete id="deleteSecret">
        DELETE FROM SECURE_DATA WHERE PATH = #{path} AND SDBOX_ID = #{sdbId}
    </delete>

</mapper>
