<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2017 Nike, Inc.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nike.cerberus.mapper.SecureDataMapper">

    <insert id="writeSecureData" parameterType="SecureDataRecord">
        INSERT INTO SECURE_DATA (
          ID,
          SDBOX_ID,
          PATH,
          ENCRYPTED_BLOB
        )
        VALUES (
          #{record.id},
          #{record.sdboxId},
          #{record.path},
          #{record.encryptedBlob}
        ) ON DUPLICATE KEY UPDATE
          ENCRYPTED_BLOB=VALUES(ENCRYPTED_BLOB)
    </insert>

    <select id="readSecureDataByPath" resultType="SecureDataRecord">
        SELECT
          ID,
          SDBOX_ID
          PATH,
          ENCRYPTED_BLOB
        From
          SECURE_DATA
        WHERE
          PATH = #{path}
    </select>

    <select id="getPathsByPartialPath" resultType="String">
        SELECT PATH From SECURE_DATA WHERE PATH LIKE '${partialPath}%';
    </select>

    <select id="getTotalNumberOfDataNodes" resultType="java.lang.Integer">
        SELECT COUNT(ID) FROM SECURE_DATA
    </select>

    <delete id="deleteAllSecretsThatStartWithGivenPartialPath">
        DELETE FROM SECURE_DATA WHERE PATH LIKE '${partialPath}%';
    </delete>

    <delete id="deleteSecret">
        DELETE FROM SECURE_DATA WHERE PATH = #{path}
    </delete>

</mapper>