@import '../../assets/styles/common';

#view-token-modal {
  width: 1050px;

  .ncss-label {
    padding-bottom: 5px;
    padding-top: 5px;
    font-weight: bold;
    font-size: 16px;
    padding-left: 4px;
  }

  #view-token-modal-description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 10px;

    p {
      padding-left: 5px;
    }
  }

  #renew-btn-container {
    padding-top: 15px;
    display: flex;
    justify-content: flex-end;

    .btn {
      margin-left: 10px;
      width: 110px;
    }
  }

  .view-token-modal-token-wrapper {
    margin-top: 15px;
    padding-top: 5px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
    width: 900;
    height: 40;

    .view-token-modal-token {
      display: flex;
      flex-direction: row;
    }
  }

  .view-token-modal-date-wrapper {
    margin-top: 15px;
    padding-top: 7px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
    display: flex;
    flex-direction: row;

    .view-token-modal-date {
      display: flex;
      flex-direction: row;
    }
  }

  .view-token-modal-time-left-wrapper {
    margin-top: 15px;
    padding-top: 7px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
    display: flex;
    flex-direction: row;

    .view-token-modal-time-left {
      display: flex;
      flex-direction: row;
    }
  }

    .view-token-modal-data-label {
      font-size: 16px;
      font-weight: bold;
    }

    .view-token-modal-data-token-value {
      padding-left: 5px;
      margin-left: 140px;
      margin-top: 3px;
    }

    .view-token-modal-data-date-value {
      padding-left: 5px;
      margin-left: 17px;
      margin-top: 3px;
    }

    .view-token-modal-data-time-left-value {
      padding-left: 5px;
      margin-left: 12px;
      margin-top: 3px;
    }

    .secret-value-placeholder {
      padding-left: 38px;
      padding-right: 38px;
      margin-left: 140px;
      margin-top: 3px;

      text-align: center;
      font-size: 14px;
      font-weight: normal;
      border-radius: 2px;
      background-color: $snkrs_medium_grey;
    }
}

.row-buttons {
  display: flex;
  flex-direction: row;
  margin-top: -3px;
  margin-left: 6px;
  height: 40px;
  padding-top: 5px;
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 5px;

  .btn-wrapper {
    @extend .clickable;
    box-shadow: inset 0 1px 0 0 $snkrs_medium_grey,inset -1px 0 0 0 $snkrs_medium_grey,inset 0 -1px 0 0 $snkrs_medium_grey,inset 1px 0 0 0 $snkrs_medium_grey;

    &:hover {
      background-color: $snkrs_off_white;
    }

    &:active {
      background-color: $snkrs_grey;
    }
  }

  .btn-wrapper-left {
    border-top-left-radius: 2px!important;
    border-bottom-left-radius: 2px!important;
  }

  .btn-wrapper-right {
    border-top-right-radius: 2px!important;
    border-bottom-right-radius: 2px!important;
  }

  .row-btn {
    @extend .clickable;
  }

  .row-btn-copy {
    background: url(../../assets/images/copy.svg);
    background-repeat: no-repeat;
    margin-top: 1px!important;
  }

  .row-btn-reveal {
    background: url(../../assets/images/eye.svg);
    background-repeat: no-repeat;
    padding: 12px;
    margin-top: 4px!important;
    margin-left: 5px;
  }

  .row-btn-revealed {
    background: url(../../assets/images/eye_closed.svg);
    background-repeat: no-repeat;
    padding: 12px;
    margin-top: 0px!important;
    margin-left: 4px;
  }
}
