# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.idea

# dashboard build artifacts
/src/main/resources/dashboard/*
/dashboard/build/*
!/dashboard/build/index.html
!/dashboard/build/help
!/dashboard/build/favicon.ico
