# Ignore Gradle project-specific cache directory
.gradle

.DS_Store

# Ignore Gradle build output directory
build
out

.idea

# node plugin stuffs
node_modules

.enable-composite-build
snapshot-tester.sh
