$snkrs_black: #111;
$snkrs_accent: #FF841F;
$snkrs_white: #FFF;
$snkrs_off_white: #F7F7F7;
$snkrs_grey: #8D8D8D;
$snkrs_dark_grey: #222222;
$snkrs_medium_grey: #DDDDDD;
$snkrs_light_grey: #E5E5E5;
$snkrs_success: #48BD1F;
$snkrs_error: #FE0000;

$sectionPadding: 10px;
$headerHeight: 90px;

body {
  background-color: $snkrs_dark_grey;
}

.un-selectable {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none;
}

.btn {
  @extend .un-selectable;
}

.show-me-block {
  display: block;
}

.hide-me {
  display: none;
}

.clickable {
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  &:hover {
    color: $snkrs_grey;
  }
}

a {
  @extend .clickable
}

.select-error-msg {
  color: $snkrs_error;
  line-height: 2;
  font-size: 12px;
  padding-left: 3px;
}

// below is generated code from http://cssload.net/
// http://cssload.net/en/terms_of_use
#fountainG{
  position:relative;
  width:234px;
  height:28px;
  margin-top: 7px;
  margin-right: 16px;
  float: left;

}

.fountainG{
  position:absolute;
  top:0;
  background-color:$snkrs_black;
  width:28px;
  height:28px;
  animation-name:bounce_fountainG;
  -o-animation-name:bounce_fountainG;
  -ms-animation-name:bounce_fountainG;
  -webkit-animation-name:bounce_fountainG;
  -moz-animation-name:bounce_fountainG;
  animation-duration:1.5s;
  -o-animation-duration:1.5s;
  -ms-animation-duration:1.5s;
  -webkit-animation-duration:1.5s;
  -moz-animation-duration:1.5s;
  animation-iteration-count:infinite;
  -o-animation-iteration-count:infinite;
  -ms-animation-iteration-count:infinite;
  -webkit-animation-iteration-count:infinite;
  -moz-animation-iteration-count:infinite;
  animation-direction:normal;
  -o-animation-direction:normal;
  -ms-animation-direction:normal;
  -webkit-animation-direction:normal;
  -moz-animation-direction:normal;
  transform:scale(.3);
  -o-transform:scale(.3);
  -ms-transform:scale(.3);
  -webkit-transform:scale(.3);
  -moz-transform:scale(.3);
  border-radius:19px;
  -o-border-radius:19px;
  -ms-border-radius:19px;
  -webkit-border-radius:19px;
  -moz-border-radius:19px;
}

#fountainG_1{
  left:0;
  animation-delay:0.6s;
  -o-animation-delay:0.6s;
  -ms-animation-delay:0.6s;
  -webkit-animation-delay:0.6s;
  -moz-animation-delay:0.6s;
}

#fountainG_2{
  left:29px;
  animation-delay:0.75s;
  -o-animation-delay:0.75s;
  -ms-animation-delay:0.75s;
  -webkit-animation-delay:0.75s;
  -moz-animation-delay:0.75s;
}

#fountainG_3{
  left:58px;
  animation-delay:0.9s;
  -o-animation-delay:0.9s;
  -ms-animation-delay:0.9s;
  -webkit-animation-delay:0.9s;
  -moz-animation-delay:0.9s;
}

#fountainG_4{
  left:88px;
  animation-delay:1.05s;
  -o-animation-delay:1.05s;
  -ms-animation-delay:1.05s;
  -webkit-animation-delay:1.05s;
  -moz-animation-delay:1.05s;
}

#fountainG_5{
  left:117px;
  animation-delay:1.2s;
  -o-animation-delay:1.2s;
  -ms-animation-delay:1.2s;
  -webkit-animation-delay:1.2s;
  -moz-animation-delay:1.2s;
}

#fountainG_6{
  left:146px;
  animation-delay:1.35s;
  -o-animation-delay:1.35s;
  -ms-animation-delay:1.35s;
  -webkit-animation-delay:1.35s;
  -moz-animation-delay:1.35s;
}

#fountainG_7{
  left:175px;
  animation-delay:1.5s;
  -o-animation-delay:1.5s;
  -ms-animation-delay:1.5s;
  -webkit-animation-delay:1.5s;
  -moz-animation-delay:1.5s;
}

#fountainG_8{
  left:205px;
  animation-delay:1.64s;
  -o-animation-delay:1.64s;
  -ms-animation-delay:1.64s;
  -webkit-animation-delay:1.64s;
  -moz-animation-delay:1.64s;
}

@keyframes bounce_fountainG{
  0%{
    transform:scale(1);
    background-color:$snkrs_black;
  }

  100%{
    transform:scale(.3);
    background-color:$snkrs_off_white;
  }
}

@-o-keyframes bounce_fountainG{
  0%{
    -o-transform:scale(1);
    background-color:$snkrs_black;
  }

  100%{
    -o-transform:scale(.3);
    background-color:$snkrs_off_white;
  }
}

@-ms-keyframes bounce_fountainG{
  0%{
    -ms-transform:scale(1);
    background-color:$snkrs_black;
  }

  100%{
    -ms-transform:scale(.3);
    background-color:$snkrs_off_white;
  }
}

@-webkit-keyframes bounce_fountainG{
  0%{
    -webkit-transform:scale(1);
    background-color:$snkrs_black;
  }

  100%{
    -webkit-transform:scale(.3);
    background-color:$snkrs_off_white;
  }
}

@-moz-keyframes bounce_fountainG{
  0%{
    -moz-transform:scale(1);
    background-color:$snkrs_black;
  }

  100%{
    -moz-transform:scale(.3);
    background-color:$snkrs_off_white;
  }
}