@import '../../assets/styles/common.scss';

.manage-sdb-box-content-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;

  .manage-sdb-box-header-button-name-wrapper {
    display: flex;
    flex-direction: row;

    .manage-sdb-box-header-name {

    }

    .manage-sdb-box-header-buttons {
      margin-left: auto;
      display: flex;

      .manage-sdb-box-edit {
        background: url(../../assets/images/edit-dark-grey.svg);
        cursor: pointer;
        background-repeat: no-repeat;
        padding: 10px;
      }

      .manage-sdb-box-delete {
        margin-left: 10px;
        background: url(../../assets/images/remove-red.svg);
        cursor: pointer;
        background-repeat: no-repeat;
        padding: 10px;
      }
    }
  }

  .manage-sdb-box-header-label {
    font-size: 16px;
    font-weight: bold;
  }

  .manage-sdb-box-header-value {
    padding-left: 5px;
    margin-top: 3px;
  }

  .manage-sdb-box-header {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;

    .manage-sdb-box-header-name {
      display: flex;
      flex-direction: row;
    }

    .perm-ico-closed {
      background: url(../../assets/images/cheveron-right.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    .perm-ico {
      float: left;
      margin-top: 4px;
      padding: 9px;
    }
    .perm-ico-open {
      background: url(../../assets/images/cheveron-down.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    .perm-label {
      padding-left: 25px;
    }

    .manage-sdb-box-header-category-owner-wrapper {
      display: flex;
      flex-direction: row;

      .manage-sdb-box-header-category {
        display: flex;
        flex-direction: row;
      }

      .manage-sdb-box-header-owner {
        display: flex;
        flex-direction: row;
        padding-left: 10px;
      }
    }

    .manage-sdb-box-header-description {
      display: flex;
      flex-direction: row;
    }
  }
}


$column-padding: 15px;
.read-only-permissions {
  padding-left: 30px;

  .perm-block {
    padding-top: 10px;
    padding-bottom: 5px;
  }

  .read-only-permissions-label {
    font-weight: bold;
    font-size: 15px;
  }

  .user-group-read-only-permission-group {

  }

  th {
    padding-right: $column-padding;
    font-weight: bold;
    font-size: 13px;
    text-align: left;
    background-color: $snkrs_light_grey;
  }

  td {
    padding-right: $column-padding;
  }

  .iam-read-only-perm {
    .iam-read-only-perm-acct-id {
      text-align: right;
    }
  }

  .even-row {
    background-color: $snkrs_light_grey;
  }

}