@import '../../assets/styles/common.scss';

.metadata-list-container {

  .metadata-pagination-menu {

    margin-top: 15px;

    display: flex;

    .metadata-pagination {
      padding-left: 0px!important;

      .metadata-previous-btn {
        margin-right: 5px;
        :focus {
          outline:none;
        }
      }

      .metadata-next-btn {
        margin-left: 4px;
        :focus {
          outline:none;
        }
      }

      .metadata-active {
        border: solid;
        border-color: black;
        border-width: 1px;
        border-radius: 2px;
      }

      .page-btn {

        :focus {
          outline:none;
        }

        margin-right: 1px;
      }

      display: flex;
      align-items: center;
    }

    .metadata-pagination-per-page-selector {
      margin-left: 10px;
      min-width: 75px;

      :focus {
        outline: none;
      }
    }
  }

  .matadata-listings {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}