@import '../../assets/styles/common.scss';

.safe-deposit-box-content-wrapper {
  width: 100%;

  .safe-deposit-box-content-section {
    padding-bottom: 10px;
  }

  .safe-deposit-box-header {
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: -1px;
    display: flex;
    flex-direction: column;
    width: 100%;

    .safe-deposit-box-header-name {
      font-size: 24px;
      font-weight: bold;
    }

    .safe-deposit-box-header-description {
      font-size: 16px;
    }

  }

  .safe-deposit-box-nav {
    padding-top: 5px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid $snkrs_medium_grey;

    .nav-item {
      margin-left: -1px;
      padding-right: 25px;
      padding-left: 25px;
      padding-top: 5px;

      height: 35px;

      display: inline-block;
      border-bottom: 1px solid transparent;
      border-bottom: none;
      bottom: -1px;
      position: relative;
      list-style: none;
      cursor: pointer;

    }

    .nav-item:hover {
      border-bottom: 2px solid $snkrs_accent;
    }

    .nav-item-selected {
      border-top: 1px solid $snkrs_medium_grey;
      border-right: 1px solid $snkrs_medium_grey;
      border-left: 1px solid $snkrs_medium_grey;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;

      background: $snkrs_white;

      cursor: default;
    }

    .nav-item-selected:hover {
      border-bottom: 1px solid transparent;
      border-bottom: none;
    }
  }

  .safe-deposit-box-sub-component {
    padding: 15px 20px;
  }
}