@import '../../assets/styles/common.scss';

.vault-secret-container {
  @media /* Macbook Pro */
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx)
  {
     width: 97%;
  }
  @media /* Thunderbolt display */
  only screen and (-webkit-max-device-pixel-ratio: 1.99),
  only screen and (   max--moz-device-pixel-ratio: 1.99),
  only screen and (     -o-max-device-pixel-ratio: 1.99/1),
  only screen and (        max-device-pixel-ratio: 1.99),
  only screen and (                max-resolution: 191dpi),
  only screen and (                max-resolution: 1.99dppx)
  {
    width: 65%;
  }

  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 3px;

  .vault-secret-collapsed-container {
    display: flex;

    .folder {
      background: url(../../assets/images/folder-dark-grey.svg);
      padding: 15px;
    }

    .key {
      background: url(../../assets/images/lock-closed-dark-grey.svg);
      margin-top: 2px;
      margin-left: 6px;
      padding: 8px;
    }

    .key-active {
      background: url(../../assets/images/lock-open-dark-grey.svg);
      margin-top: 2px;
      margin-left: 6px;
      padding: 13px;
    }

    .key-label {
      margin-left: 23px;
    }

    .key-active-label {
      margin-left: 13px;
    }

    .folder-label {
      margin-left: 15px;
    }

    .vault-secret-collapsed-icon {
      background-repeat: no-repeat;

      display: block;
    }

    .vault-secret-collapsed-label {
      @extend .clickable;
    }
  }

  .vault-secret-data-container {
    margin-top: 5px;

    #vault-add-new-secret-form {
      width: 100%;

      #new-vault-secret-path {
        #new-vault-secret-path-label {
          margin-top: 0;
        }

        #new-vault-secret-path-full {
          margin-top: 0;
        }

        .new-vault-secret-path-user-value-read-only {
          margin-top: 0px;
        }
      }

      .permissions-add-new-permission-add-label {
        font-size: 14px;
      }

      .btn-wrapper {
        font-size: 14px;

        #cancel-btn {
          display: none;
        }
      }
    }
  }
}

.vault-secret-delete-btn {
  margin-top: 10px;
  cursor: pointer;
  display: flex;

  .vault-secret-delete-btn-icon {
    background: url(../../assets/images/remove-red.svg);
    background-repeat: no-repeat;
    margin-left: 2px;
    margin-top: 2px;
    padding: 9px;
  }

  .vault-secret-delete-btn-label {
    @extend .clickable;
    padding-left: 10px;
    font-size: 14px;
  }
}