@import '../../assets/styles/common';

.api-error-wrapper {

  .api-error-header {
    line-height: 20px;
    font-weight: bold;
    font-size: 20px;
    color: $snkrs_error;
  }

  .api-error-message {
    font-size: 16px;
  }

  .api-error-server-provided-details {

    .status-wrapper {
      display: flex;
      flex-flow: row;

      .api-error-server-status-label {
        font-weight: bold;
      }

      .api-error-server-status {
        padding-left: 10px;
      }
    }

    .server-message-wrapper {
      display: flex;
      flex-flow: row;

      .api-error-server-message-label {
        font-weight: bold;
      }

      .api-error-server-message {
        padding-left: 10px;
      }
    }
  }
}
