@import '../../assets/styles/common';

#app-messenger-wrapper {
  #messenger-container {
    display: flex;
    flex-flow: column;

    position: absolute;
    top: $headerHeight;
    right: 0;
    width: 500px;
    z-index: 1000000000000;

    .messenger-message {
      background-color: $snkrs_off_white;
      width: 100%;

      display: flex;
      border-left: solid;
      border-right: solid;
      border-bottom: solid;
      padding: 10px;
      border-width: 2px;
      border-color: $snkrs_dark_grey;

      .messenger-message-content {

      }

      .messenger-message-buttons {
        margin-left: auto;
        .messenger-message-buttons-acknowledge {

          cursor: pointer;
          background: url(../../assets/images/remove-dark-grey.svg);
          padding: 10px;
          background-repeat: no-repeat;

          &:hover {
            background: url(../../assets/images/remove-red.svg);
            background-repeat: no-repeat;
          }
        }
      }
    }
  }
}
