@import '../../assets/styles/common.scss';

.sdb-metadata-container {
  background-color: $snkrs_off_white;
  margin-bottom: 10px;
  padding: 10px;
  width: 700px;

  .sdb-metadata {
    display: flex;

    .sdb-metadata-kv {
      padding-right: 3px;
      display: flex;

      .sdb-metadata-label {
        padding-right: 5px;
        font-size: 16px;
      }

      .sdb-metadata-value {
        margin-top: 3px;
        padding-right: 10px;
      }
    }
  }
}

