# Okta
AUTH_USERNAME=<NIKE_EMAIL_ADDRESS@NIKE.COM>
AUTH_PASSWORD=<NIKE_PASSWORD>
REACT_APP_OKTA_DOMAIN=<OKTA_URL>
REACT_APP_OKTA_CLIENTID=<OKTA_CLIENTID>
REDIRECT_URI="http://localhost:3000"
DISABLE_TOKEN_STORAGE=false
PKCE=true
STORAGE_NAMESPACE="CERBERUS_LOCAL"

# Cerberus Test User
CYPRESS_CERBERUS_TEST_USERNAME=""
CYPRESS_CERBERUS_TEST_PASSWORD=""

# Database
DATABASE_TYPE=<DATABASE_TYPE>
MYSQL_CONTAINER_NAME=<MYSQL_CONTAINER_NAME>
MYSQL_HOST=<MYSQL_HOST>
MYSQL_PORT=<MYSQL_PORT>
MYSQL_DATABASE=<MYSQL_DATABASE>
MYSQL_USER=<MYSQL_USER>
MYSQL_PASSWORD=<MYSQL_PASSWORD>
MYSQL_ROOT_PASSWORD=<MYSQL_ROOT_PASSWORD>
PROTOCOL=<PROTOCOL>
ENDPOINT=$PROTOCOL:$TYPE://$HOST:$PORT/$MYSQL_DATABASE

# CYPRESS
CYPRESS_COMMAND_DELAY=<DELAY>
