@import '../../assets/styles/common.scss';

#footer {
  background-color: $snkrs_dark_grey;
  color: $snkrs_off_white;
  height: 45px;
  width: 100%;
  flex-shrink: 0;

  display: flex;
  align-items: flex-end;

  #items {
    padding-bottom: 10px;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;

    .footer-item {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .footer-link {
    color: $snkrs_off_white;
  }
}
