@import '../../assets/styles/common.scss';

.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 25px;
  padding-bottom: 25px;

  background-color: rgba(51,51,51, .85);

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100%;

  z-index: 100000;

  .modal-component-wrapper {
    border-radius: 5px;
    padding: 25px;
    background-color: $snkrs_off_white;
  }

}