@import '../../assets/styles/common.scss';

.delete-sdb-wrapper {

  width: 700px;

  .attention {
    display: block;
    font-weight: bold;
    color: $snkrs_accent;
  }

  #form-description {
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  #delete-safe-deposit-box {
    .btn {
      margin-top: 10px;
      margin-right: 10px;
    }
  }
}

