.confirmation-box-container {
  width: 400px;

  display: flex;
  flex-flow: column;

  .confirmation-box-buttons {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-flow: row-reverse;

    .confirmation-box-button {
      font-size: 16px;
      font-weight: bold;
      margin-left: 15px;
      padding: 5px 20px;
    }
  }
}