@import '../../assets/styles/common';

.safe-deposit-box-settings {
  display: flex;
  width: 100%;
  flex-direction: column;

  .sdb-settings-buttons {
    .btn {
      margin-right: 10px;
    }
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .sdb-settings-label {
    font-size: 16px;
    font-weight: bold;
  }

  .sdb-settings-value {
    padding-left: 5px;
    margin-top: 3px;
  }


  .sdb-settings-name {
    display: flex;
    flex-direction: row;
  }

  .sdb-settings-category-owner-wrapper {
    display: flex;
    flex-direction: row;

    .sdb-settings-category {
      display: flex;
      flex-direction: row;
    }

    .sdb-settings-owner {
      display: flex;
      flex-direction: row;
      padding-left: 10px;
    }
  }

  .sdb-settings-description {
    display: flex;
    flex-direction: row;
  }
}


$column-padding: 15px;
.read-only-permissions {
  padding-left: 0px;

  .perm-block {
    padding-top: 10px;
    padding-bottom: 5px;
  }

  .read-only-permissions-label {
    font-weight: bold;
    font-size: 15px;
  }

  .user-group-read-only-permission-group {

  }

  th {
    padding-right: $column-padding;
    font-weight: bold;
    font-size: 13px;
    text-align: left;
    background-color: $snkrs_light_grey;
  }

  td {
    padding-right: $column-padding;
  }

  .iam-read-only-perm {
    .iam-read-only-perm-acct-id {
      text-align: right;
    }
  }

  .even-row {
    background-color: $snkrs_light_grey;
  }

}
